{{ $isHome := .IsHome }}

{{ with site.Data.settings.settings.alert_banner }}
  {{ if .is_active }}
    {{ if .home_page_only }}
      {{ if $isHome }}
        <section id="js-bootstrap-alert" role="region" aria-label="Alert" class="wvu-alert-banner alert alert-{{ .alert_type }} py-2 mb-0">
          <div class="container py-2">
            <div class="d-flex justify-content-between">
              <div>
                <p class="mb-0">{{ .markdown | markdownify }}</p>
              </div>
              <button type="button" class="btn-close ms-2" data-bs-dismiss="alert" aria-label="Close Alert Banner"></button>
            </div>
          </div>
        </section>
      {{ end }}
    {{ else }}
      <section id="js-bootstrap-alert" role="region" aria-label="Alert" class="wvu-alert-banner alert alert-{{ .alert_type }} py-2 mb-0">
        <div class="container py-2">
          <div class="d-flex justify-content-between">
            <div>
              <p class="mb-0">{{ .markdown | markdownify }}</p>
            </div>
            <button type="button" class="btn-close ms-2" data-bs-dismiss="alert" aria-label="Close Alert Banner"></button>
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
{{ end }}