<div class="col-md-6 col-xl-4">
  <h2 class="h6 wvu-text-letter-spacing-lg wvu-b-label text-uppercase text-wvu-gold mb-3">University Resources</h2>
  <ul class="list-unstyled mb-0 lh-sm">
    <li class="mb-3">
      <a class="text-decoration-none" href="https://www.wvu.edu/siteindex/">A-Z Site Index</a>
    </li>
    <li class="mb-3">
      <a class="text-decoration-none" href="https://campusmap.wvu.edu">Campus Map</a>
    </li>
    <li class="mb-3">
      <a class="text-decoration-none" href="https://careers.wvu.edu/career-opportunities">WVU Careers</a>
    </li>
    <li class="mb-3">
      <a class="text-decoration-none" href="https://directory.wvu.edu">WVU Directory</a>
    </li>
    <li class="mb-3">
      <a class="text-decoration-none" href="https://give.wvu.edu/">Give</a>
    </li>
    <li class="mb-3">
      <a class="text-decoration-none" href="https://wvu.joinhandshake.com/login">Handshake</a>
    </li>
    <li class="mb-3">
      <a class="text-decoration-none" href="https://alert.wvu.edu/">WVU Safety Notification System</a>
    </li>
    <li class="mb-3">
      <a class="text-decoration-none" href="https://wvutoday.wvu.edu">WVUToday</a>
    </li>
    <li class="mb-3">
      <a class="text-decoration-none" href="https://portal.wvu.edu">WVU Portal</a>
    </li>
  </ul>
</div>