// Primary

$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Accent

$wvu-old-gold: #7F6310;
$wvu-coal: #181f23;
$wvu-safety-blue: #0062A3;
$wvu-star-city-blue: #9DDAE6;
$wvu-hemlock: #6A724F;
$wvu-woodburn: #8d4638;
$wvu-canary: #F7DD63;
$wvu-sunset: #F58672;

// Neutral

$wvu-not-quite-white: #F7F7F7;
$wvu-wild-flour: #F2E6C2;
$wvu-buckskin: #B3A169;
$wvu-coopers-gray: #BEB7B3;
$wvu-seneca-gray: #988E8B;
$wvu-rattler-gray: #554741;

// Social Media

$facebook: #3b5998;
$twitter: #00acee;
$flickr: #ff0084;
$instagram: #8a3ab9;
$linkedin: #0e76a8;
$syndication: #ee802f;
$youtube: #c4302b;
$github: #171515;

$custom-colors: (
  "facebook": $facebook,
  "twitter": $twitter,
  "flickr": $flickr,
  "instagram": $instagram,
  "linkedin": $linkedin,
  "syndication": $syndication,
  "youtube": $youtube,
  "github": $github,
  "wvu-blue": $wvu-blue,
  "wvu-gold": $wvu-gold,
  "wvu-old-gold": $wvu-old-gold,
  "wvu-coal": $wvu-coal,
  "wvu-safety-blue": $wvu-safety-blue,
  "wvu-star-city-blue": $wvu-star-city-blue,
  "wvu-hemlock": $wvu-hemlock,
  "wvu-woodburn": $wvu-woodburn,
  "wvu-canary": $wvu-canary,
  "wvu-sunset": $wvu-sunset,
  "wvu-not-quite-white": $wvu-not-quite-white,
  "wvu-wild-flour": $wvu-wild-flour,
  "wvu-buckskin": $wvu-buckskin,
  "wvu-coopers-gray": $wvu-coopers-gray,
  "wvu-seneca-gray": $wvu-seneca-gray,
  "wvu-rattler-gray": $wvu-rattler-gray
);

$custom-colors-bg-subtle: (
  "wvu-blue-subtle": $wvu-blue-bg-subtle,
  "wvu-gold-subtle": $wvu-gold-bg-subtle,
  "wvu-old-gold-subtle": $wvu-old-gold-bg-subtle,
  "wvu-coal-subtle": $wvu-coal-bg-subtle,
  "wvu-safety-blue-subtle": $wvu-safety-blue-bg-subtle,
  "wvu-star-city-blue-subtle": $wvu-star-city-blue-bg-subtle,
  "wvu-canary-subtle": $wvu-canary-bg-subtle,
  "wvu-sunset-subtle": $wvu-sunset-bg-subtle,
  "wvu-not-quite-white-subtle": $wvu-not-quite-white-bg-subtle,
  "wvu-wild-flour-subtle": $wvu-wild-flour-bg-subtle,
  "wvu-buckskin-subtle": $wvu-buckskin-bg-subtle,
  "wvu-coopers-gray-subtle": $wvu-coopers-gray-bg-subtle,
  "wvu-seneca-gray-subtle": $wvu-seneca-gray-bg-subtle,
  "wvu-rattler-gray-subtle": $wvu-rattler-gray-bg-subtle
);

$custom-colors-bg-subtle-dark: (
  "wvu-blue-subtle-dark": $wvu-blue-bg-subtle-dark,
  "wvu-gold-subtle-dark": $wvu-gold-bg-subtle-dark,
  "wvu-old-gold-subtle-dark": $wvu-old-gold-bg-subtle-dark,
  "wvu-coal-subtle-dark": $wvu-coal-bg-subtle-dark,
  "wvu-safety-blue-subtle-dark": $wvu-safety-blue-bg-subtle-dark,
  "wvu-star-city-blue-subtle-dark": $wvu-star-city-blue-bg-subtle-dark,
  "wvu-canary-subtle-dark": $wvu-canary-bg-subtle-dark,
  "wvu-sunset-subtle-dark": $wvu-sunset-bg-subtle-dark,
  "wvu-not-quite-white-subtle-dark": $wvu-not-quite-white-bg-subtle-dark,
  "wvu-wild-flour-subtle-dark": $wvu-wild-flour-bg-subtle-dark,
  "wvu-buckskin-subtle-dark": $wvu-buckskin-bg-subtle-dark,
  "wvu-coopers-gray-subtle-dark": $wvu-coopers-gray-bg-subtle-dark,
  "wvu-seneca-gray-subtle-dark": $wvu-seneca-gray-bg-subtle-dark,
  "wvu-rattler-gray-subtle-dark": $wvu-rattler-gray-bg-subtle-dark
);

$dark-theme-colors: (
  "dark": $dark,
  "wvu-blue": $wvu-blue,
  "wvu-old-gold": $wvu-old-gold,
  "wvu-rattler-gray": $wvu-rattler-gray,
  "wvu-coal": $wvu-coal,
  "wvu-safety-blue": $wvu-safety-blue,
  "wvu-hemlock": $wvu-hemlock,
  "wvu-woodburn": $wvu-woodburn
);

$light-theme-colors: (
  "white": #FFF,
  "wvu-gold": $wvu-gold,
  "wvu-buckskin": $wvu-buckskin,
  "wvu-not-quite-white": $wvu-not-quite-white,
  "wvu-coopers-gray": $wvu-coopers-gray,
  "wvu-seneca-gray": $wvu-seneca-gray,
  "wvu-wild-flour": $wvu-wild-flour,
  "wvu-sunset": $wvu-sunset,
  "wvu-star-city-blue": $wvu-star-city-blue,
  "wvu-canary": $wvu-canary
);

$theme-colors: map-merge($theme-colors, $custom-colors);