// Typography
//==================================================

// Helvetica Neue
$helvetica-neue-fallback: 'Helvetica Neue', Helvetica, 'Helvetica LT Std', 'Helvetica CY', Arial, 'Lucida Grande', sans-serif !default;
$helvetica-neue: "helvetica-neue-lt-pro", $helvetica-neue-fallback !default;
$wvu-shout-fallback: 'Arial Narrow', Impact, Charcoal, 'Arial Black', $helvetica-neue-fallback !default;

// Webfonts from Monotype.com
$helvetica-neue-light: 'NeueHelvetica45Light', $helvetica-neue-fallback !default;
$helvetica-neue-bold: "helvetica-neue-lt-pro", $helvetica-neue-fallback !default;
$helvetica-neue-italic: "helvetica-neue-lt-pro", $helvetica-neue-fallback !default;
$helvetica-neue-bold-italic: "helvetica-neue-lt-pro", $helvetica-neue-fallback !default;
$helvetica-neue-condensed-black: 'NeueHelvetica97CondensedBlack', $wvu-shout-fallback !default;

// Antonia
$antonia-fallback: Antonia, 'Times New Roman', Times, Georgia, serif !default;
$antonia: 'antonia-variable', $antonia-fallback !default;

// Config Variable
$config: "config-variable", $wvu-shout-fallback, sans-serif;

// Shout
$wvu-shout-font-family: $config !default;

// Font size
$wvu-font-size-base: 1rem !default;

// Paragraph measure
$wvu-p-measure: 40rem !default;

// Line height
$wvu-shout-line-height: 0.80487em !default;
$wvu-traditional-audience-line-height: 1.16666666667em !default;

// Audiences
// $wvu-traditional-audience: $iowan-old-style !default;
// $narrow-audience: $iowan-old-style-italic !default;

// Tracking
$wvu-letter-spacing-width: 1px !default;
$wvu-letter-spacing-width-lg: 3px !default;
$wvu-letter-spacing-width-xl: 6px !default;

// Color
//==================================================

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

$wvu-old-gold: #7F6310;
$wvu-not-quite-white: #F7F7F7;
$wvu-wild-flour: #F2E6C2;
$wvu-buckskin: #B3A169;
$wvu-coopers-gray: #BEB7B3;
$wvu-seneca-gray: #988E8B;
$wvu-rattler-gray: #554741;
$wvu-coal: #1C2B39;
$wvu-safety-blue: #0062A3;
$wvu-star-city-blue: #9DDAE6;
$wvu-canary: #FFE539;
$wvu-sunset: #F3674F;

$wvu-blue-rgb: rgba(0, 40, 85, 1);
$wvu-gold-rgb: rgba(234, 170, 0, 1);

$wvu-old-gold-rgb: rgba(127, 99, 16, 1);
$wvu-not-quite-white-rgb: rgba(247, 247, 247, 1);
$wvu-wild-flour-rgb: rgba(242, 230, 194, 1);
$wvu-buckskin-rgb: rgba(179, 161, 105, 1);
$wvu-coopers-gray-rgb: rgba(190,183,179, 1);
$wvu-seneca-gray-rgb: rgba(152, 142, 139, 1);
$wvu-rattler-gray-rgb: rgba(85, 71, 65, 1);
$wvu-coal-rgb: rgba(28, 43, 57, 1);
$wvu-safety-blue-rgb: rgba(0, 98, 163, 1);
$wvu-star-city-blue-rgb: rgba(157, 218, 230, 1);
$wvu-canary-rgb: rgba(255, 229, 57, 1);
$wvu-sunset-rgb: rgba(245, 134, 114, 1);

$wvu-blue-bg-subtle: tint-color($wvu-blue, 10%);
$wvu-gold-bg-subtle: tint-color($wvu-gold, 10%);

$wvu-old-gold-bg-subtle: tint-color($wvu-old-gold, 10%);
$wvu-not-quite-white-bg-subtle: tint-color($wvu-not-quite-white, 10%);
$wvu-wild-flour-bg-subtle: tint-color($wvu-wild-flour, 10%);
$wvu-buckskin-bg-subtle: tint-color($wvu-buckskin, 10%);
$wvu-coopers-gray-bg-subtle: tint-color($wvu-coopers-gray, 10%);
$wvu-seneca-gray-bg-subtle: tint-color($wvu-seneca-gray, 10%);
$wvu-rattler-gray-bg-subtle: tint-color($wvu-rattler-gray, 10%);
$wvu-coal-bg-subtle: tint-color($wvu-coal, 10%);
$wvu-safety-blue-bg-subtle: tint-color($wvu-safety-blue, 10%);
$wvu-star-city-blue-bg-subtle: tint-color($wvu-star-city-blue, 10%);
$wvu-canary-bg-subtle: tint-color($wvu-canary, 10%);
$wvu-sunset-bg-subtle: tint-color($wvu-sunset, 10%);

$wvu-blue-bg-subtle-dark: shade-color($wvu-blue, 10%);
$wvu-gold-bg-subtle-dark: shade-color($wvu-gold, 10%);

$wvu-old-gold-bg-subtle-dark: shade-color($wvu-old-gold, 10%);
$wvu-not-quite-white-bg-subtle-dark: shade-color($wvu-not-quite-white, 10%);
$wvu-wild-flour-bg-subtle-dark: shade-color($wvu-wild-flour, 10%);
$wvu-buckskin-bg-subtle-dark: shade-color($wvu-buckskin, 10%);
$wvu-coopers-gray-bg-subtle-dark: shade-color($wvu-coopers-gray, 10%);
$wvu-seneca-gray-bg-subtle-dark: shade-color($wvu-seneca-gray, 10%);
$wvu-rattler-gray-bg-subtle-dark: shade-color($wvu-rattler-gray, 10%);
$wvu-coal-bg-subtle-dark: shade-color($wvu-coal, 10%);
$wvu-safety-blue-bg-subtle-dark: shade-color($wvu-safety-blue, 10%);
$wvu-star-city-blue-bg-subtle-dark: shade-color($wvu-star-city-blue, 10%);
$wvu-canary-bg-subtle-dark: shade-color($wvu-canary, 10%);
$wvu-sunset-bg-subtle-dark: shade-color($wvu-sunset, 10%);

// Gradients
$wvu-gradient-wvu-gold-accent-yellow-accent-sunset: linear-gradient(300deg, $wvu-gold, transparent), linear-gradient(200deg, $wvu-canary, transparent), linear-gradient(100deg, $wvu-sunset, transparent);
$wvu-gradient-wvu-blue-accent-blue-accent-blue-light: linear-gradient(300deg, $wvu-blue, transparent), linear-gradient(200deg, $wvu-safety-blue, transparent), linear-gradient(100deg, $wvu-star-city-blue, transparent);
$wvu-gradient-accent-blue-accent-light-blue-accent-sunset: linear-gradient(300deg, $wvu-safety-blue, transparent), linear-gradient(200deg, $wvu-star-city-blue, transparent), linear-gradient(100deg, $wvu-sunset, transparent);
$wvu-gradient-accent-blue-light-accent-blue-accent-sunset: linear-gradient(300deg, $wvu-star-city-blue, transparent), linear-gradient(200deg,$wvu-safety-blue, transparent), linear-gradient(100deg, $wvu-sunset, transparent);


// Old Colors
// Neutral
$wvu-neutral--white: $wvu-not-quite-white;
$wvu-neutral--black: #2C2A29;
$wvu-neutral--dark-gray: $wvu-coal;
$wvu-neutral--light-gray: $wvu-coopers-gray;
$wvu-neutral--dark-brown: #6E6259;
$wvu-neutral--brown: #7C736A;
$wvu-neutral--light-brown: #BFB8AF;

// Accent
$wvu-accent--light-blue: #9BD3DD;
$wvu-accent--brown: #4B3D2A;
$wvu-accent--mustard: $wvu-old-gold;
$wvu-accent--orange: #ED8B00;
$wvu-accent--dark-green: #0D5257;
$wvu-hemlock: #7c8b61;
$wvu-accent--light-green: #9ABEAA;
$wvu-woodburn: #8d4638;
$wvu-accent--burnt-orange: #CD4C08;

// Gradients

$gradient--sunset--yellow--wvu-gold: (
  "background": $wvu-gold,
  "color-ll": $wvu-sunset,
  "color-ur": $wvu-canary,
  "color-lr": $wvu-gold
);

$gradient--canary--gold--gold: (
  "background": $wvu-wild-flour,
  "color-ll": $wvu-canary,
  "color-ur": $wvu-gold,
  "color-lr": $wvu-gold
);

$gradient--canary--star-city-blue--gold: (
  "background": $wvu-wild-flour,
  "color-ll": $wvu-canary,
  "color-ur": $wvu-star-city-blue,
  "color-lr": $wvu-gold
);

$gradient--old-gold--hemlock--hemlock: (
  "background": $wvu-canary,
  "color-ll": $wvu-old-gold,
  "color-ur": $wvu-hemlock,
  "color-lr": $wvu-hemlock
);

$gradient--buckskin--wild-flour--wild-flour: (
  "background": $wvu-canary,
  "color-ll": $wvu-buckskin,
  "color-ur": $wvu-wild-flour,
  "color-lr": $wvu-wild-flour
);

$gradient--buckskin--canary--wild-flour: (
  "background": $wvu-wild-flour,
  "color-ll": $wvu-buckskin,
  "color-ur": $wvu-canary,
  "color-lr": $wvu-wild-flour
);

$gradient--blue--woodburn--woodburn: (
  "background": $wvu-safety-blue,
  "color-ll": $wvu-blue,
  "color-ur": $wvu-woodburn,
  "color-lr": $wvu-woodburn
);

$gradient--old-gold--woodburn--woodburn: (
  "background": $wvu-safety-blue,
  "color-ll": $wvu-old-gold,
  "color-ur": $wvu-woodburn,
  "color-lr": $wvu-woodburn
);

$gradient--safety-blue--blue--blue: (
  "background": $wvu-safety-blue,
  "color-ll": $wvu-safety-blue,
  "color-ur": $wvu-blue,
  "color-lr": $wvu-blue
);

$gradient--hemlock--blue--woodburn: (
  "background": $wvu-woodburn,
  "color-ll": $wvu-hemlock,
  "color-ur": $wvu-blue,
  "color-lr": $wvu-woodburn
);

$gradient--coal--rattler-gray--rattler-gray: (
  "background": $wvu-woodburn,
  "color-ll": $wvu-coal,
  "color-ur": $wvu-rattler-gray,
  "color-lr": $wvu-rattler-gray
);

$gradient--sunset--star-city-blue--star-city-blue: (
  "background": $wvu-sunset,
  "color-ll": $wvu-sunset,
  "color-ur": $wvu-star-city-blue,
  "color-lr": $wvu-star-city-blue
);

// Breadcrumbs
$wvu-breadcrumbs-color: #8F9699;

// Masthead
//==================================================
$wvu-flying-wv-w-signature: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo--2.0.0.svg' !default;
$wvu-flying-wv-w-signature--blue: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo__blue--2.0.0.svg' !default;
$wvu-flying-wv-w-signature--gold-blue: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo__blue-signature--1.0.0.svg' !default;

// Hero Elements
//==================================================
$wvu-shout-font-size-medium: 4.5em !default;
$wvu-shout-font-size-long: 3em !default;
$wvu-shout-margin: 0 0 .5em !default;

// Hero Typography
$wvu-hero-font-color: white !default;
$wvu-hero-title-typeface: $wvu-shout-font-family !default;
$wvu-hero-vignetting-opacity: .85 !default;
$wvu-typography-line-length: 45rem !default;
$wvu-tint-opacity: 1 !default;
$wvu-vignetting-opacity: .85 !default;

$wvu-slash-width: .5em !default;
$wvu-slash-height: 1.25em !default;
$wvu-slash-height-tall: 150% !default;

$wvu-blue-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__blue--1.0.0.svg";
$wvu-gold-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__gold--1.0.0.svg";
$wvu-white-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__white--1.0.0.svg";
$wvu-slashes-gold-blue: "https://static.wvu.edu/global/images/patterns/wvu/background__slash-grouping-gold-blue--1.0.0.svg";
$wvu-slashes-gold-blue-white: "https://static.wvu.edu/global/images/patterns/wvu/background__slash-grouping-gold-blue-white--1.0.0.svg";
$wvu-grid-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__grid--1.0.0.svg";
$wvu-grid-pattern-transparent: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-transparent--1.0.0.svg";
$wvu-grid-pattern-zoomed: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-zoomed--1.0.0.svg";
$wvu-grid-pattern-zoomed-transparent: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-zoomed-transparent--1.0.0.svg";
$wvu-topo-map-black: "/patterns/topo-dark.svg";
$wvu-topo-map-white: "/patterns/topo.svg";
$wvu-topo-map-partial-black: "/images/topo-partial.svg";
$wvu-topo-map-opacity: 1 !default;
$wvu-gradient-mesh-blue: "/images/gradient-mesh-blue.jpg";
$wvu-container-box-skewed-1: "/containers/box-skewed-001.svg";
$wvu-container-box-skewed-2: "/containers/box-skewed-002.svg";
$wvu-container-box-skewed-3: "/containers/box-skewed-003.svg";
$wvu-container-box-skewed-4: "/containers/box-skewed-004.svg";
$wvu-texture: "/textures/halftone-grunge-dark.svg";

// Make !important configurable
$global-important: !important !default; // Set to `null` to remove !important from all CSS property values, except where explicitly defined otherwise in mixin @includes.

// Z-index for vignetting. slash, grid
$wvu-z-index-content: 100 !default;
$wvu-z-index-breadcrumbs: 990 !default;
$wvu-z-index-primary-nav: 1000 !default; // NOTE: Aligns with Bootstrap Dropdowns
$wvu-z-index-max: 9999 !default;

$wvu-z-index-bg-img: 10 !default;
$wvu-z-index-pattern: 20 !default;
$wvu-z-index-container-content: 130 !default;
$wvu-z-index-container: 120 !default;
$wvu-z-index-container-shadow: 110 !default;
$wvu-z-index-fg-img: 70 !default;

$wvu-z-index-slash: -1 !default;
$wvu-z-index-angle-container: -1 !default;
$wvu-z-index-vignetting: 1 !default;

// WVU Breakpoints
$wvu-bp-xs: 0 !default;
$wvu-bp-sm: 576px !default;
$wvu-bp-md: 768px !default;
$wvu-bp-lg: 992px !default;
$wvu-bp-xl: 1200px !default;
$wvu-bp-xxl: 1400px !default;
$wvu-bp-xxxl: 1600px !default;

$wvu-bp-nav: $wvu-bp-lg !default;
$wvu-bp-nav-max-width: ($wvu-bp-nav - 1) !default;

$wvu-breakpoints: (
  $wvu-bp-xs,
  $wvu-bp-sm,
  $wvu-bp-md,
  $wvu-bp-lg,
  $wvu-bp-xl,
  $wvu-bp-xxl,
  $wvu-bp-xxxl
);

// Bootstrap Overrides
//==================================================
$sizes: (
  10: 10%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%,
  auto: auto
);

$utilities: (
  "width": (
    property: width,
    class: w,
    values: (
      10: 10%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
);

$grid-breakpoints: (
  xs: $wvu-bp-xs,
  sm: $wvu-bp-sm,
  md: $wvu-bp-md,
  lg: $wvu-bp-lg,
  xl: $wvu-bp-xl,
  xxl: $wvu-bp-xxl,
  xxxl: $wvu-bp-xxxl
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1520px
);

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 8,
  8: $spacer * 10,
  9: $spacer * 14,
  10: $spacer * 20,
  11: $spacer * 24,
);

$display-font-sizes: (
  0: 8rem,
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

@media (min-width: 1800px) {
  .display-0 {
    font-size: 10rem !important;
  }
}

$aspect-ratios: (
  "1x1": 100%,
  "2x3": calc(3 / 2 * 100%),
  "3x2": calc(2 / 3 * 100%),
  "3x4": calc(4 / 3 * 100%),
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "9x16": calc(16 / 9 * 100%)
);

.ratio-3x2 {
  --bs-aspect-ratio: 66.66667%; // 2x1
}

$grid-columns: 24 !default;

$audiences: (
  "general",
  "alumni",
  "parents",
  "current_students",
  "prospective_students",
  "faculty_staff",
  "leaders_partners"
);

$tones-typography: (
  "tone-1": "",
  "tone-2": "",
  "tone-3": "",
);

$gradient-wvu-blue-accent-blue-accent-blue-light: (
  "color-1",
  "color-2",
  "color-3"
);

$blue: #006FE6;
$link-color: $blue;
$blockquote-margin-y: 0;
$card-border-radius: 0;
$card-border-width: 0;
$card-bg: transparent;
$dark: $wvu-neutral--black;
$display1-size: 7rem;
$display2-size: 5rem;
$display3-size: 4rem;
$display4-size: 3.5rem;
$font-size-base: 1rem;
$emphasized-link-hover-darken-percentage: 0%;
$font-family-sans-serif: $helvetica-neue;
$jumbotron-bg: transparent;
$jumbotron-padding: 4rem;
$lead-font-size: ($font-size-base * 1.5);
$link-decoration: underline;
$pink: #DB1A74;
$small-font-size: 80%;
$nameSpace: 'wvu';
$text-shadow: 2px 2px black;
$wvu-shadow-hard: rgba(0, 0, 0, 0.15);

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  10: 10px
);

$wvu-slash-skew-angle: -33.75deg;

$enable-negative-margins: true;