// ---Import all the things!---
//    Pay attention to how you order your Sass files.
//    Variables & Utilities (mixins) should almost always come before Vendor & Partial files.

// Functions (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/functions';

// Include WVU Variables
@import 'wvu-variables';

// Plugins

// Remainder of required Bootstrap stylesheets
@import 'bootstrap/variables';
@import 'bootstrap/variables-dark';
@import 'wvu-colors-map';
@import 'wvu-color-palettes';
@import 'bootstrap/maps';
@import 'bootstrap/mixins';
@import 'bootstrap/utilities';

// Layout & components
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/type';
@import 'bootstrap/images';
@import 'bootstrap/containers';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/transitions';
@import 'bootstrap/dropdown';
@import 'bootstrap/button-group';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/card';
@import 'bootstrap/accordion';
@import 'bootstrap/breadcrumb';
@import 'bootstrap/pagination';
@import 'bootstrap/badge';
@import 'bootstrap/alert';
@import 'bootstrap/progress';
@import 'bootstrap/list-group';
@import 'bootstrap/close';
@import 'bootstrap/toasts';
@import 'bootstrap/modal';
@import 'bootstrap/tooltip';
@import 'bootstrap/popover';
@import 'bootstrap/carousel';
@import 'bootstrap/spinners';
@import 'bootstrap/offcanvas';
@import 'bootstrap/placeholders';

// Helpers
@import 'bootstrap/helpers';

// Utilities
@import 'bootstrap/utilities/api';
// scss-docs-end import-stack

// WVU Components
@import 'mixins/wvu-bg-blend-mode';
@import 'mixins/wvu-bg-pattern';
@import 'mixins/wvu-bg-tint';
@import 'mixins/wvu-bg-vignetting';
@import 'mixins/wvu-brand-palettes';
@import 'mixins/wvu-co-branding';
@import 'mixins/wvu-elements';
@import 'mixins/wvu-gradient';
@import 'mixins/wvu-highlight';
@import 'mixins/wvu-lists';
@import 'mixins/wvu-logo-lockup';
@import 'mixins/wvu-slash';
@import 'mixins/wvu-tint-shade';
@import 'mixins/wvu-type';
@import 'utilities/wvu-active-nav-link';
@import 'utilities/wvu-bg';
@import 'utilities/wvu-bg-colors';
@import 'utilities/wvu-bg-dark-fade';
@import 'utilities/wvu-bg-diagonal';
@import 'utilities/wvu-bg-filter';
@import 'utilities/wvu-bg-img';
@import 'utilities/wvu-bg-blend-mode';
@import 'utilities/wvu-bg-pattern';
@import 'utilities/wvu-bg-position';
@import 'utilities/wvu-bg-tint';
@import 'utilities/wvu-bleed';
@import 'utilities/wvu-border';
@import 'utilities/wvu-box-skewed';
@import 'utilities/wvu-brand-palettes';
@import 'utilities/wvu-column-count';
@import 'utilities/wvu-containers';
@import 'utilities/wvu-corner-slash';
@import 'utilities/wvu-co-branding';
@import 'utilities/wvu-counter';
@import 'utilities/wvu-fg-img';
@import 'utilities/wvu-gradient';
@import 'utilities/wvu-highlight';
@import 'utilities/wvu-hr';
@import 'utilities/wvu-lists';
@import 'utilities/wvu-logo-lockup';
@import 'utilities/wvu-min-h';
@import 'utilities/wvu-object-position';
@import 'utilities/wvu-overflow';
@import 'utilities/wvu-order';
@import 'utilities/wvu-place-img';
@import 'utilities/wvu-shadow-hard';
@import 'utilities/wvu-slash';
@import 'utilities/wvu-table';
@import 'utilities/wvu-tilt';
@import 'utilities/wvu-section-component';
@import 'utilities/wvu-type';
@import 'utilities/wvu-z-index';

// Custom
// @import '4-custom/wvu-nav';

@import 'custom/btn';
@import 'custom/hosted-fonts';
@import 'custom/mercury-textarea';
@import 'custom/multi-collapse';
@import 'custom/nav';
@import 'custom/pagefind';
@import 'custom/prettyprint';
@import 'custom/text';
@import 'custom/wireframes';
@import 'custom/wvu-base';
@import 'custom/wvu-breadcrumbs';
@import 'custom/wvu-calendar-widget';
@import 'custom/wvu-gallery';
@import 'custom/wvu-masthead';
@import 'custom/wvu-site-nav';