{{ define "main" }}
  {{ if and .Params.topper .Params.topper._bookshop_name }}
    {{ partial "bookshop_bindings" `(dict "topper" .Params.topper "title" .Params.title)` }}
    {{ partial "bookshop" (slice .Params.topper._bookshop_name (dict "topper" .Params.topper "title" .Params.title)) }}
  {{ else }}
    {{ partial "bookshop_bindings" `(dict "topper" .Params.topper "title" .Params.title)` }}
    {{ partial "bookshop" (slice "design-system/topper/default" (dict "topper" .Params.topper "title" .Params.title)) }}
  {{ end }}
  {{ partial "bookshop_bindings" `.Params.default_content_blocks` }}
  {{ partial "bookshop_partial" (slice "page" .Params.default_content_blocks) }}
{{ end }}