.pagefind-ui {
  position: absolute;
  z-index: 99999999;
}

.pagefind-ui__results-area {
  &.svelte-e9gkc3 {
    background-color: white !important;
    margin-top: 0 !important;
  }
}

.pagefind-ui__message {
  &.svelte-e9gkc3 {
    padding: 1rem !important;
  }
}

.pagefind-ui__result-image.svelte-j9e30.svelte-j9e30 {
  border-radius: 0 !important;
}

.pagefind-ui__result-inner.svelte-j9e30 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.pagefind-ui__result-thumb.svelte-j9e30.svelte-j9e30 {
  margin-left: 2rem !important;
}

.z-index-pagefind {
  position: relative !important;
  z-index: 999999 !important;
}

#program-search {
  .pagefind-ui {
    position: relative !important;
  }
  .pagefind-ui__form {
    background-color: transparent !important;
  }
  .pagefind-ui__drawer.svelte-e9gkc3 {
    margin-top: 4rem;
  }
  .pagefind-ui__results-area.svelte-e9gkc3 {
    background-color: transparent !important;
  }
  .pagefind-ui__filter-panel.svelte-1v2r7ls {
    &:nth-child(5) {
      display: none;
    }
  }
  .pagefind-ui__filter-block.svelte-1v2r7ls {
    &:nth-child(6) {
      display: none;
    }
  }
  .pagefind-ui__filter-value.svelte-1v2r7ls {
    position: relative;
    padding-left: 24px;
  }
  .pagefind-ui__filter-checkbox.svelte-1v2r7ls {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 1px;
    left: 0;
  }
  .pagefind-ui__result-excerpt {
    display: none;
  }
  .pagefind-ui__result-tag {
    font-size: 1rem;
  }
}