{{ define "main" }}
  {{ partial "bookshop_bindings" `(dict "topper" .Params.topper "title" .Params.title)` }}
  {{ if and .Params.topper .Params.topper._bookshop_name }}
    {{ partial "bookshop" (slice .Params.topper._bookshop_name (dict "topper" .Params.topper "title" .Params.title)) }}
  {{ else }}
    {{ partial "bookshop" (slice "design-system/topper/default" (dict "topper" .Params.topper "title" .Params.title)) }}
  {{ end }}
  {{ partial "bookshop" (slice "design-system/section/directory" .) }}
{{ end }}