{{ define "main" }}
  {{ partial "bookshop_bindings" `(dict "topper" .Params.topper "title" .Params.title)` }}
  {{ if and .Params.topper .Params.topper._bookshop_name }}
    {{ partial "bookshop" (slice .Params.topper._bookshop_name (dict "topper" .Params.topper "title" .Params.title)) }}
  {{ else }}
    {{ partial "bookshop" (slice "design-system/topper/default" (dict "topper" .Params.topper "title" .Params.title)) }}
  {{ end }}

  {{ $hideThumbnails := .Params.settings.config.hide_thumbnails }}
  {{ $hideAuthor := .Params.settings.config.hide_author }}

  {{ $authorData := slice }}
  {{ $authorData = where site.RegularPages "Section" "people" }}
  {{ $authorData = where $authorData ".Params.type" "eq" "author" }}
  
  <div class="py-6 audience-general tone-default bg-option-1 wvu-b-subtle" data-pagefind-ignore="all">
    <div class="container">
      {{ $pages := where .Site.RegularPages "Section" .Section }}
      {{ $paginator := .Paginate $pages.ByPublishDate.Reverse 10 }}
      {{ range $paginator.Pages }}
        {{ $authorList := slice }}
        {{ if .Params.authors }}
          {{ range .Params.authors }}
            {{ $author := . }}
            {{ range $authorData }}
              {{ if eq .Params.uuid $author }}
                {{ $authorList = $authorList | append . }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
        <div class="row">
          <div class="col-xxl-18 mx-xxl-auto">
            <div class="wvu-articles">
              <div class="mb-5" itemscope="" itemtype="http://schema.org/BlogPosting">
                <div class="row">
    
                  {{ if not $hideThumbnails }}
                    <div class="wvu-article__thumb col-md-6">
                      <a href="{{ .RelPermalink }}" aria-hidden="true" tabindex="-1">
                        {{ partial "bookshop" (slice "design-system/generic/img" (dict "src" .Params.article_image "width" 960 "height" 640 "alt" .Params.article_image_alt_text )) }}
                      </a>
                    </div>
                  {{ end }}
    
                  <div class="col-md mt-3 mt-md-0">
                    <h2 class="wvu-article__headline" itemprop="headline"><a class="newsletter-link text-decoration-none text-wvu-blue" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    
                    {{ if or (not $hideAuthor) ( .Params.publishDate ) }}
                      <p class="small d-block">
                        {{ if .Params.publishDate }}
                          <time class="wvu-article__date-published" datetime="{{ .Params.publishDate }}">{{ .Params.publishDate | time.Format "Monday, January 2, 2006" }}</time>
                        {{ end }}
                      </p>
                    {{ end }}
    
                    {{ with .Params.teaser }}
                      <div class="wvu-article__body" itemprop="articleBody">
                        <p class="wvu-article__teaser">{{ . }}</p>
                      </div>
                    {{ end }}
    
                    <p><a class="wvu-article__read-more" href="{{ .RelPermalink }}">Read More<span class="visually-hidden">: {{ .Title }}</span></a></p>
                  </div>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      {{ end }}

      <div class="mt-5">
        {{ partial "pagination.html" . }}
      </div>
    </div>
  </div>
{{ end }}