.wvu-bg-texture-halftone-grunge-dark {
  &:before {
    background-image: url($wvu-texture);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 600px;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}