.wvu-table-e {
  border: 2px solid $dark $global-important;
  // font-family: $oliviar-black $global-important;
  > :not(caption) > * > * {
    background-color: inherit $global-important;
    color: inherit $global-important;
  }
  td, th {
    border-right: 2px solid $dark $global-important;
  }
  tr {
    border-top: 2px solid $dark $global-important;
  }
}