.object-position-top {
  object-position: top $global-important;
}

.object-position-bottom {
  object-position: bottom $global-important;
}

.object-position-start {
  object-position: left $global-important;
}

.object-position-end {
  object-position: right $global-important;
}